$primary-color: #0ea4e1;
$secondary-color: #F5F5DC;
$default-text: #2c3e50;
$font-size: 12px;

body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-text;
    font-size: $font-size;

    box-sizing: border-box;
}

/*
    Button configuration
*/

button {
    cursor: pointer;

    margin: 3px 5px;
    padding: 7px 10px;
    font-size: 1.25rem;

    outline: 0;
    border-style: none;
    border-image: none;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;

    &:hover {
        background-color: gray;
    }

    &:focus {
        border-color: $primary-color;
    }

    &:active {
        background-color: gray;
        color: white;
    }

    &.primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $secondary-color;

        &:hover {
            filter: brightness(1.2);
        }
    
        &:focus {
            border-color: $secondary-color;
        }
    
        &:active {
            filter: brightness(.2);
        }
    }

    &.secondary {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: $default-text;

        &:hover {
            filter: brightness(1.2);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.2);
        }
    }

    &.red {
        background-color: #ec3c3c;
        border-color: #ec3c3c;
        color: white;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.2);
        }
    }

    &.blue {
        background-color: #2185d0;
        border-color: #2185d0;
        color: white;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.orange {
        background-color: #ec6e3c;
        border-color: #ec6e3c;
        color: white;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.green {
        background-color: #38ce38;
        border-color: #38ce38;
        color: white;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.yellow {
        background-color: #fff23a;
        border-color: #fff23a;
        color: #2c3e50;

        &:hover {
            filter: brightness(.8);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.black {
        background-color: black;
        border-color: black;
        color: white;

        &:hover {
            filter: brightness(1.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.white {
        background-color: white;
        border-color: rgba($color: white, $alpha: 1.9);
        color: #2c3e50;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }

    &.violet {
        background-color: violet;
        border-color: rgba($color: violet, $alpha: 1.9);
        color: white;

        &:hover {
            filter: brightness(.9);
        }
    
        &:focus {
            border-color: $primary-color;
        }
    
        &:active {
            filter: brightness(.9);
        }
    }
}

/*
    Navigation bar on the top
*/

.nav {
    width: 100%;
    height: 60px;
    min-height: 40px;

    padding: 5px 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        height: calc(100% - 5px);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .menu-item {

            flex-grow: 1;

            padding: 3px 5px;
            margin: 0px 5px;

            text-decoration: none;
            font-size: 1.2rem;

            color: $primary-color;

            transition-duration: .5s;
            transition-property: color;
            transition-delay: .2s;
            transition-timing-function: ease-in;

            &:hover {
                color: $secondary-color;
            }

        }
    }

    &.primary {
        background-color: $primary-color;
        
        .menu-item {
            color: white;

            transition-duration: .5s;
            transition-property: color;
            transition-delay: .2s;
            transition-timing-function: ease-in;

            &:hover {
                color: $secondary-color;
            }
        }

    }

    &.secondary {
        background-color: $secondary-color;
        
        .menu-item {
            color: $default-text;

            transition-duration: .5s;
            transition-property: color;
            transition-delay: .2s;
            transition-timing-function: ease-in;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &.big {
        height: 100px;

        .menu-item {
            font-size: 1.5rem;
        }
    }

    &.sides {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.even {
        justify-content: space-evenly;
    }

    &.big {
        padding: 10px 20px;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

/*
    Notification center
*/

.notification {
    position: fixed;
    top: 30px;
    right: 30px;

    width: 400px;
    height: 130px;

    z-index: 99;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 1);
    border-radius: 3px;

    animation-name: slide-in-right;
    animation-duration: .5s;
    animation-delay: .2s;

    .content {
        width: 100%;
        height: calc(100% - 40px);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            height: 70px;
            width: 70px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            overflow: hidden;
    
            margin: 5px;
            padding: 5px;
    
            img {
                height: 100%;
            }
        }

        .message {
            margin: 5px;
        }
    }

    .buttons {
        width: 100%;
        height: 40px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 5px;

        button {
            padding: 3px 5px !important;
            font-size: 1rem !important;
        }
    }

    &.error {
        .title {
            color: red;
        }
    }

    &.success {
        .title {
            color: green;
        }
    }
}

/*
    Forms formating
*/

.form {
    padding: 15px;
    margin: 10px;

    .title {
        margin: 10px auto;
        width: 80%;

        text-align: center;
    }

    .field {
        padding: 10px;
        margin: 10px;

        min-width: 200px;

        label {
            text-align: left;
            font-weight: bold;

            margin-bottom: 3px;
        }

        input {
            padding: 5px 10px;
            width: 100%;

            font-size: .85rem;

            &:focus {
                outline-color: $primary-color;
            }
        }

        textarea {
            padding: 5px 10px;
            width: 100%;
            min-height: 100px;
            height: 100px;

            font-size: .85rem;

            &:focus {
                outline-color: $primary-color;
            }
        }

    }

    .fields {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: flex-start;
        align-items: center;

        .field {
            flex-grow: 1;
        }
    }
}


@keyframes slide-in-right {
    from {
        right: -100%;
    }
}
